.content {
    width: 100%;
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.switcher {
    width: 240px;
}

.switcher button {
    width: 50%;
    height: 35px;
    text-transform: uppercase;
    border-radius: 0;
    border-style: none;
    background-color: var(--hb-c-gray);
    color: var(--hb-c-green);
    transition: 0.2s;
}

.switcher .active {
    background-color: var(--hb-c-green);
    color: var(--hb-c-gray)
}

input {
    width: 240px;
    height: 35px;
    margin: 10px 0;
    font-size: 1.1em;
    border-width: 0 0 0 3px;
    border-style: solid;
    border-color: var(--hb-c-green);
    background-color: var(--hb-c-gray);
    color: var(--hb-c-white);
    padding: 5px 10px;
    outline: none;
}

input::placeholder {
    color: var(--hb-c-lightgray)
}

input:focus {
    border-color: var(--hb-c-green);
}

#login, #signup {
    height: 50px;
    color: white;
    background-color: var(--hb-c-green);
    border-radius: 5px;
    border-style: none;
    font-size: 1.2em;
    text-transform: uppercase;
}
